<html>
  <head>
    <title>{% block title %} - TMPLTR</title>
      <meta http-equiv="content-type" content="text/html;charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="icon" href="/static/favicon.png" type="image/png" />
      <link rel="stylesheet" type="text/css" href="/static/main.css">
      <link rel="stylesheet" href="/static/monokai.min.css">
      <script src="/static/highlight.min.js"></script>
      <script>hljs.highlightAll();</script>
  </head>
  <body>
    <div id="head">
      <h1><a href="/">TMPLTR</a></h1>
      <nav class="menu">
        <div><a href="/">Start</a></div>
        <div><a href="/examples/">Examples</a></div>
        <div><a href="/features/">Features</a></div>
        <div><a href="/documentation/">Documentation</a></div>
        <div><a href="https://github.com/eternalconcert/tmpltr" target="_blank">Repository &rarr;</a></div>
      </nav>
    </div>
    {% block body %}
    <div id="footer">
      <a href="/imprint">Imprint</a> - <a href="/privacy">Privacy policy</a>
    </div>
    <script type="text/javascript">
      console.log('test', document.querySelectorAll('.codeblock'));
      document.querySelectorAll('.codeblock').forEach(block => {
        const button = document.createElement('button');
        button.innerText = 'Copy';
        button.onclick = () => {
          button.classList.add('clicked');
          button.innerText = '✓';
          window.navigator.clipboard.writeText(block.innerText.slice(10, block.innerText.lenght));
          window.setTimeout(() => {
            button.classList.remove('clicked');
            button.innerText = 'Copy';
          }, 2500)
        };
        block.prepend(button);
      })
    </script>
  </body>
</html>
