{% extends base.html %}
{% block title %}Features{% endblock %}
{% block body %}
  <nav class="jumpmenu">
    <div>Page navigation:</div>
    <div><a href="#server">Server</a></div>
    <div><a href="#template-engine">Template engine</a></div>
    <div><a href="#orm">ORM</a></div>
  </nav>

  <h2>Features</h2>
  <div class="chapter">
    <h3 id="server">Server</h3><a href="#head">&uarr;</a>
  </div>
  <p>
    TMPLTR comes with a bleeding edge node:http server. Getting started is very easy. To set up a static file server, create a file called `server.mjs` with the following content:
  </p>
  <pre class="codeblock">
    <code class="javascript">
    import { App } from '@eternalconcert/tmpltr';

    const app = new App();

    app.serve();
    </code>
  </pre>
  <p>
    That's it! Just put the files you want to server in a folder called `static` and start the server by typing:
  </p>
  <pre class="codeblock">
    <code class="bash">
    node server.mjs
    </code>
  </pre>
  <p>
    TMPLTR uses the latest features of node. So you may need to add the --experimental-sqlite flag. You can also use the watch feature of node to make your life easier:
  </p>
  <pre class="codeblock">
    <code class="bash">
    node --experimental-sqlite --watch server.mjs
    </code>
  </pre>
  <p>
    Now the server will reload every time a file changes.
  </p>

  <h2>Template engine</h2>
  <div class="chapter">
    <h3 id="template-engine">As static page generator</h3><a href="#head">&uarr;</a>
  </div>
  <p>
    Although the Template Engine is designed as an on-request function to generate pages in the context of the server, it can also be used as a static page generator. This is the least complex way to get familiar with the engine. The main use case is described below.
  </p>
  <p>
    Create a file called `page-generator.mjs` and paste the following code into it:
  </p>
  <pre class="codeblock">
    <code class="javascript">
    import { App } from '@eternalconcert/tmpltr';

    const app = new App();

    const pageContent = app.renderTemplate('static-page.html');

    console.log(pageContent);
    </code>
  </pre>

  <p>
    Create a file called `static-page.html' in a folder called `templates', and place this folder next to the `page-generator.mjs' folder. Add the following text to `static-page.html
  </p>

  <pre class="codeblock">
    <code class="html">
    &lt;h1&gt;Pilot&lt;/h1&gt;
    &lt;p&gt;Jack awakens disoriented in a jungle..&lt;/p&gt;
    </code>
  </pre>

  <p>Run the following command:</p>
  <pre class="codeblock">
    <code class="bash">
    node page-generator.mjs
    </code>
  </pre>
  <p>
    This should print the following content to your screen:
  </p>

  <div class="rendered-example console">
&lt;h1&gt;Pilot&lt;/h1&gt;
&lt;p&gt;Jack awakens disoriented in a jungle..&lt;/p&gt;
  </div>
  <p>
    Okay, lame.. But at least it is renders. Let's add some context! Change the content of `static-page.html` to match the following:
  </p>
  <pre class="codeblock">
    <code class="html">
    &lt;h1&gt;Pilot&lt;/h1&gt;
    &lt;h2&gt;Episode: &#123;&#123; episodeNumber &#125;&#125;&lt;/h2&gt;
    &lt;p&gt;Jack awakens disoriented in a jungle..&lt;/p&gt;
    </code>
  </pre>
  <p>
    Modify the content of `page-generator.mjs`:
  </p>
  <pre class="codeblock">
    <code class="javascript">
    import { App } from '@eternalconcert/tmpltr';

    const app = new App();

    const pageContent = app.renderTemplate('privacy.html', { episodeNumber: 1 });

    console.log(pageContent);
    </code>
  </pre>

  <p>Run page-generator.mjs again, this should be the result:</p>
  <div class="rendered-example console">
    &lt;h1&gt;Pilot&lt;/h1&gt;
    &lt;h2&gt;Episode: 1&lt;/h2&gt;
    &lt;p&gt;Jack awakens disoriented in a jungle..&lt;/p&gt;
  </div>
  <p>
    With these changes, we have added some context to our content. The episodeNumber can now be easily passed to the template.
  </p>

  <h2>ORM</h2>
  <div class="chapter">
    <h3 id="orm">Basic concepts</h3><a href="#head">&uarr;</a>
  </div>
  <p>
    TMPLTR comes with an ORM that is inspired by Django's built-in ORM. The main idea is to use class methods to retrieve objects from the database and instance methods to modify those objects. A small example:
  </p>
  <pre class="codeblock">
    <code class="javascript">
      User.getAll();
      // returns a list of all users

      User.getByFilter({ lastName: 'Kwon' });
      // returns a list of all users with the last name 'Kwon'

      const user = User.getByFilter({ id: '3' })[0];
      // user contains now a single User-object.

      user.delete();
      // deletes the user from the database
    </code>
  </pre>

{% endblock %}
