{% extends base.html %}
{% block title %}Index{% endblock %}
{% block body %}
  <h2>Template like it's 2010!</h2>
  <p>
    TMPLTR offers the ability to server side render HTML pages and use the full power of JavaScript. It is heavy inspired by <a href="https://palletsprojects.com/projects/flask/">Flask</a> and <a href="https://palletsprojects.com/projects/jinja/">Jinja</a>.
  </p>
  <p>
    If you are familiar with these awesome pieces of software, learning TMPLTR will be no big deal for you.
  </p>

  <h2>Getting started</h2>

  <p>
    Create a file called `server.mjs` and add the following code:
  </p>
  <pre class="codeblock">
    <code class="javascript">
      // server.mjs
      import { App } from 'src/app.mjs';

      const app = new App();

      app.route('/', () => 'hello, world');

      app.serve();
    </code>
  </pre>

  <p>
    Open your browser and navigate to <a href="http://localhost:3000">http://localhost:3000</a>
  </p>
  <p>
    If all works, you would see something like this:
  </p>
  <div class="rendered-example">
    hello, world
  </div>

  <p>
    Now create a folder called `templates` next to your server.mjs and in this folder a file called `index.html`. Add the following code:
  </p>

  <pre class="codeblock">
    <code class="html">
      &lt;!-- index.html --&gt;
      <h1>Your flight number: &#123;&#123; flightNumber &#125;&#125;</h1>
    </code>
  </pre>

  <p>
    Back in server.mjs, change the content to match this:
  </p>

  <pre class="codeblock">
    <code class="javascript">
      // server.mjs
      import { App } from 'src/app.mjs';

      const app = new App();

      app.route('/', () => app.renderTemplate('index.html', { flightNumber: '815' }));

      app.serve();
    </code>
  </pre>
  <p>
    Refresh your browser and crush into the world of templating.
  </p>
  <div class="rendered-example">
    Your flight number: {{ flightNumber }}
  </div>

  <div id="counter">
    Counter: {{ counter }}<br />
  </div>

{% endblock %}
