@font-face {
  font-family: "Geist";
  src: url("Geist-wght.ttf") format("truetype");
  font-weight: 100 1000;
}

@font-face {
  font-family: "GeistMono";
  src: url("GeistMono-wght.ttf") format("truetype");
  font-weight: 100 1000;
}

h2 {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

html {
  scroll-behavior: smooth;
}

body, html, a {
  background-color: black;
  color: lightgray;
  font-family: GeistMono, monospace
}

body {
  text-align: justify;
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
}

p {
  margin-bottom: 2rem;
}

.rendered-example {
  margin-bottom: 4rem;
  margin-top: 1rem;
  background-color: lightgrey;
  color: black;
  padding: 2rem 2rem 2rem 4rem;
}

.rendered-example h3 {
  margin-top: 0;
}

.rendered-example.console {
  margin-bottom: 4rem;
  margin-top: 1rem;
  white-space: pre;
  padding: 1rem 2rem;
}

#head {
  margin-bottom: 20px;
}

#footer {
  width: 250px;
  margin: 50px auto;
}

nav.menu {
  display: flex;
  justify-content: space-around;
  border: 2px dotted lightgray;
  padding: 10px;
  margin-top: 4rem;
}

nav.jumpmenu {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding: 10px;
  margin-top: 0;
}

.chapter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chapter h2 {
  margin-top: 2rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#counter {
  color:rgb(18, 18, 18);
}


@media only screen and (max-width: 600px) {
  body {
    margin: 0 auto;
  }

  nav.menu, nav.jumpmenu {
    display: block;
  }
  nav.menu div, nav.jumpmenu div {
    margin: 10px 0;
  }
}

.codeblock {
  position: relative;
}

.codeblock button {
  position: absolute;
  top: 25px;
  right: 10px;
  background-color: transparent;
  border: 2px dotted lightgray;
  cursor: pointer;
  color: lightgray;
  transition: 300ms;
  width: 60px;
  height: 25px;
}

.codeblock button.clicked {
  background-color: rgb(148, 148, 148);
}
